@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');

/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Magra", sans-serif;
    background:#F8F8F5;
    color:#222;
    overflow-x:hidden;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

/* ===========================
   VARIÁVEIS
=========================== */

:root{
    --green-dark:#28622e;
    --green-light:#84b440;

    --white:#ffffff;

    --gray:#666;
    --light:#f5f5f5;

    --radius:18px;

    --shadow:
        0 10px 30px rgba(0,0,0,.08);

}

/* ===========================
   CONTAINER
=========================== */

.container{

    width:min(1200px,90%);
    margin:auto;

}

/* ===========================
   HEADER
=========================== */

header{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:90px;

    z-index:1000;

    background:transparent;

    box-shadow:none;
}

header .container{

    display:flex;

    align-items:center;

    justify-content:space-between;

    height:82px;

}

header nav a{
    color:#222;
}

.btn-login{

    background: var(--green-dark);
    color:white;

}

/* ===========================
   LOGO
=========================== */

.logo img{

    height:42px;

}

/* ===========================
   MENU
=========================== */

nav ul{

    display:flex;

    gap:35px;

}

nav a{

    color:#333;

    font-size:15px;

    font-weight:500;

    transition:.3s;

    position:relative;

}

nav a:hover{

    color:var(--green-dark);

}

nav a::after{

    content:"";

    position:absolute;

    bottom:-7px;
    left:0;

    width:0%;

    height:2px;

    background:var(--green-dark);

    transition:.3s;

}

nav a:hover::after{

    width:100%;

}

.btn-login{

    background:var(--green-dark);

    color:white;

    padding:10px 24px;

    border-radius:8px;

    font-size:14px;

    font-weight:600;

    transition:.3s;

}

.btn-login:hover{

    background:var(--green-light);

}

.menu-mobile{

    display:none;

    border:none;

    background:none;

    font-size:25px;

    cursor:pointer;

}

/* =========================
   FOOTER
========================= */

.footer{

    background:#1F5F2E;
    padding:18px 0;
    color:#fff;

}

.footer-container{

    width:min(1200px,92%);
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.footer-year{

    font-size:28px;
    font-weight:700;
    min-width:90px;

}

.footer-authors{

    display:flex;
    align-items:center;
    gap:8px;

    flex:1;

    margin-left:25px;

    font-size:12px;

}

.footer-authors span{

    color:#D8D8D8;

}

.footer-authors a{

    color:white;
    transition:.3s;

}

.footer-authors a:hover{

    color:#9BC54E;

}

.footer-logo img{

    width:30px;

}

/* ==========================================
   SCROLLBAR
========================================== */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-thumb{

    background:var(--green-dark);

    border-radius:50px;

}

::-webkit-scrollbar-track{

    background:#ECECEC;

}

/* ==========================================
   SELEÇÃO
========================================== */

::selection{

    background:var(--green-dark);

    color:white;

}

/* ==========================================
   UTILIDADES
========================================== */

section{

    overflow:hidden;

}